# Import Libraries
#### Standard

In [1]:
import os
import numpy as np
import pandas as pd

#### Visualization

In [2]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import colors
from matplotlib import rc
import seaborn as sns
import networkx as nx

#### Visualization Setting

In [3]:
color_palette = 'Set3'
title_size = 20
sns.set_style("whitegrid")

In [4]:
pd.set_option('display.max_rows', 5, 'display.max_columns', None)

In [5]:
font_name = fm.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

# Import Data
Data Preprocessing 단계에서 생성된 통합 데이터 테이블을 불러온다

In [6]:
root = os.path.join(os.getcwd(), 'DATA')

df_raw = pd.read_csv(os.path.join(root, 'raw_data.csv'), index_col = 0)
df_project = pd.read_csv(os.path.join(root, 'project_data.csv'), index_col = 0)

code_jeom = pd.read_csv(os.path.join(root, 'jeom_code.csv'), index_col = 0)
code_jikwhi = pd.read_csv(os.path.join(root, 'jikwhi_code.csv'), index_col = 0)
code_jkmu = pd.read_csv(os.path.join(root, 'jkmu_code.csv'), index_col = 0)

직원 데이터는 지속적으로 참고해야 한다

In [7]:
df_jikwon = pd.read_csv(os.path.join(root, 'jikwon.csv'), encoding='cp949')

----

# Drop Data

요청구분은 무수정, 수정, 신규, 폐기, 총 4종류가 있는데 우리는 신규/수정한 이력만을 볼 것이다  
이를 통해 프로그램을 신규/수정한 이력이 없는 직원들도 제거된다

In [8]:
df_raw[['요청구분', '요청번호']].groupby('요청구분').count()

        요청번호
요청구분
무수정     5557
수정    189113
신규    166315
폐기      8934

In [9]:
print(df_raw.shape, end="->")
df = df_raw[(df_raw['요청구분'] == '신규') | (df_raw['요청구분'] == '수정')]
print(df.shape)

(370040, 23)->(355428, 23)

In [10]:
df['요청구분'].unique()

array(['수정', '신규'], dtype=object)

# 분류하기

In [12]:
df[['프로그램경로']].drop_duplicates().reset_index(drop=True)

                                                 프로그램경로
0                                   /nbsdev/fib/fis/src
1     /webdev/chl1/CHLDownload/iWorks/DOWNLOAD/res/b...
...                                                 ...
5495                               /flexdev/bin/ubs/xml
5496  /webdev/chl1/CHLDownload/iWorks/DOWNLOAD/res/b...

[5497 rows x 1 columns]